container_commands:
  01_collectstatic:
    command: "django-admin.py collectstatic --noinput"

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: recmusic/wsgi.py
  - option_name: DJANGO_SETTINGS_MODULE
    value: recmusic.settings
  - namespace: aws:elasticbeanstalk:command
    option_name: Timeout
    value: 3600
  - namespace: aws:elasticbeanstalk:container:python:staticfiles
    option_name: /static/
    value: static/